@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
footer{
    background:rgba(20, 22, 36, 1) ;
    margin: 0%;
    padding: 0px;
}
.container{
    max-width: 1140px;
    margin: auto;
    padding: 0%;
}
.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 30px 0px;
}
.footer .about h2{
    font-family: Plus Jakarta Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    text-align: left;
    color: rgba(255, 255, 255, 1);
}
.footer .about p{
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: rgba(151, 152, 159, 1);
}
.footer .about h4{
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    color: rgba(255, 255, 255, 1);
}
.footer .about h4 span{
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: rgba(151, 152, 159, 1);
}
a{
    text-decoration: none;
}
.footer .Qlink h2{
    font-family: Plus Jakarta Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    text-align: left;
    color: rgba(255, 255, 255, 1);
}
.footer .Qlink h4 a{
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: rgba(186, 186, 191, 1);
}
.footer .category h2{
    font-family: Plus Jakarta Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    text-align: left;
    color: rgba(255, 255, 255, 1);
}
.footer .category h4 a{
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: rgba(186, 186, 191, 1);
}
.footer .newsletter{
    background: rgba(36, 37, 53, 1);
    border: 1px solid black;
    border-radius: 10px;
    padding: 25px;
}
.footer .newsletter h2{
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
}
.footer .newsletter p{
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: rgba(151, 152, 159, 1);
}
.newsletter .email{
    position: relative;
}
.newsletter .email input{
    width: 100%;
    background: rgba(24, 26, 42, 1);
    padding: 15px 5px;
    border: 1px solid rgba(59, 60, 74, 1);
    border-radius: 5px;
}
.newsletter .email input::placeholder{
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: rgba(151, 152, 159, 1);
    padding: 10px;
}
.newsletter .email .eicon{
    position: absolute;
    top: 10px;
    right: 0;
    color:rgba(105, 106, 117, 1) ;
}
.newsletter button{
    background: rgba(75, 107, 251, 1);
    width: 100%;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: rgba(255, 255, 255, 1);
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
}
.container .line{
    border: 1px solid rgba(151, 152, 159, 1);
    width: 100%;
}

.bottom{
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
}
.content{
    display: flex;
}
.content img{
    width: auto;
}
.content .inner_content h2{
font-family: Plus Jakarta Sans;
font-size: 20px;
font-weight: 400;
line-height: 28px;
text-align: left;
color: rgba(255, 255, 255, 1);
}
.content .inner_content h2 span{
    font-family: Plus Jakarta Sans;
    font-size: 20px;
    font-weight: 800;
    line-height: 28px;
    text-align: left;
    color: rgba(255, 255, 255, 1);
}
.content .inner_content p{
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color:rgba(186, 186, 191, 1);
}
.content .inner_content p span{
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: rgba(255, 255, 255, 1);
}
.bottom ul li{
    display: inline-block;
    padding: 15px;
}
.bottom ul li a{
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: rgba(186, 186, 191, 1);
}